<header>
  <nav class = 'navbar'>
    <div class="logo">
      <span class="logo-text">feed ME</span>
    </div>
    <ul class="nav-links">
      <li><a href="#" id="login-btn">Login</a></li>
      <li><a href="#" id="create-account-btn">Create Account</a></li>
      <li><a href="#" id="logout-btn">Logout</a></li>
    </ul>
  </nav>
</header>
