<nav class="custom-nav">
  <a class="navbar-brand" href="#">
    <img src="" alt="" class="logo-img">
    <span class="logo-text">FeedHungry</span>
  </a>
  <ul class="nav-links">
    <li>
      <a href="#" class="nav-link">Login</a>
    </li>
    <li>
      <a href="#" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>

