<nav class="custom-nav">
  <a class="navbar-brand" href="#">
    <span class="logo-text">FeedHungry</span>
  </a>
  <!-- <ul class="nav-links">
    <li>
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">Restaurants</a>
      <a href="#" class="nav-link">Status</a>
      <a href="#" class="nav-link">History</a>

    </li>
  </ul> -->
  <ul class="nav-links nav-links-end">
    <li>
      <a href="#" class="nav-link open-login">Login</a>
    </li>
    <li>
      <a href="#" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>