<section class = 'create-account'>
  <h3>Create Account</h3>
  <br />
  <form action="/register" method="POST">
    <div class="register-new-user-customer">
      <label for="first_name">First Name:</label>
      <input
        class="form-control"
        id="first_name"
        type="text"
        name="first_name"
        placeholder="Enter first name"
        required
      />

      <label for="last_name">Last Name:</label>
      <input
        class="form-control"
        id="last_name"
        type="text"
        name="last_name"
        placeholder="Enter last name"
        required
        />


      <label for="phone">Phone:</label>
      <input
        class="form-control"
        id="phone"
        type="tel"
        name="phone"
        placeholder="Enter phone number"
        required
        />

        <label for="email">Email Address:</label>
        <input
          class="form-control"
          id="email"
          type="email"
          name="email"
          placeholder="Enter email"
          required
        />

        <label for="password">Password:</label>
        <input
          class="form-control"
          id="password"
          type="password"
          name="password"
          placeholder="Enter password"
          required
        />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </div>
  </form>
</section>
