<!DOCTYPE html>
<html lang="en">
  <head>
    <title>feed Hungry</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
    />

    <!-------------------------FONTS  ------------------------------------>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Pacifico&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">


    <!-------------------------CSS STYLES ------------------------------------>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-------------------------APP SCRIPTS ------------------------------------>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/customer-menu.js"></script>
    <script defer src="/scripts/user-authentication.js"></script>
    
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/helpers.js"></script>
  </head>

  <!---------------------External JS------------------------------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-------------------------DB SCRIPTS  ------------------------------------>


  <!-------------------------BODY  ------------------------------------>
  <body>

    
  <header>  <%- include('partials/header') %> </header>


    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to the feedHungry</h1>
        <p>Order online, pick up, and satisfy your cravings effortlessly.</p>
        <a href="/login" class="btn">Get Started</a>
      </div>
    </section>

    <!-- Other sections for customer and restaurant views -->
     <!-- USER AUTHENTICATION  -->
   <section id = 'user-authentication' class = 'user-authentication'>

    <!-- on click show below -->
    <!-- <section class = 'login-form'>
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="email" required>
        </div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
      </section> -->

   </section>

   <section id = 'restaurant-user' class = 'hidden-on-load'>

    <!--ORDER SECTION -LIKE SHOW TWEETS SECTION BUT FOR ORDERS NEWEST ORDER COMES FIRST WITH BUTTONS FOR ACCEPT, COMPLETED ESTIMATED TIME AND (STRETCH) A COUNTER FOR KEEPING TRACK OF TIME. COULD BE SETUP LIKE A TO DO LIST, WITH NEW, IN PROGRESS, READY COMPLETED FOR STATUS-->
  
    <!-- STRETCH ANALYTICS SECTION  -->
  
    <!-- STRETCH MENU MODIFICATION SECTION -->
  
  
  </section>
  <!-- / -->

    <section class="footer">
      <div class="footer-content">
        <p>&copy; 2023 feedHungry App. All rights reserved.</p>
      </div>
    </section>





 


      <!-- <h1>Welcome <%= user %> 🥔</h1>
      <h2>User Type: <%= userType %></h2>
       <br>  move to nav-->


      <!-- <h2>Restaurant Name</h2> move to menu view -->

   <!-- LOGIC TO DETERMINE IF USER IS CUSTOMER OR RESTAURANT on click with jquery -->






  



<!-- Restaurant Owner Section -->

<!-- can be generated or unhide with jquery  on user tpe identification  -->





<!-- /Customer Section/ -->


<section id = 'customer-user' class = 'hidden-on-load'></section>

<!---------------------------MENU ------------------------------------>

<!-- Menu section either form or submit button with prevent default
  add and delete buttons AND   + - button to set quantity -->


  <div class = 'menu'>
  </div>



  <!---------------------------CART ------------------------------------>
  <div class = 'cart'>
  </div>


  <!---------------------CONFIRMATION and Status --------------------------->

  <div class = 'confirmation'>
  </div>
</section>
<!-- / -->

    </main>






  </body>
</html>
