<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
    />

    <!-------------------------CSS STYLES ------------------------------------>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu.css" />


    <!-------------------------APP SCRIPTS ------------------------------------>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/customer-menu.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header>Include from partials which will include nav?</header>

<!-- test cookies -->
    <main>
      <h1>Welcome <%= user %> 🥔</h1>
      <h2>User Type: <%= userType %></h2>
       <br>
      <h2>Restaurant Name</h2>

   <!-- LOGIC TO DETERMINE IF USER IS CUSTOMER OR RESTAURANT on click with jquery -->

   <section class = 'login'>
     <h3 style="font-weight: 600; margin-bottom: 0">Login</h3>
 <br />

 <form action="/login" method="POST">
  <div class="new-user-form">
    <label for="email" style="font-weight: 500">Email Address</label>
    <input
      class="form-control"
      id="email"
      type="email"
      name="email"
      placeholder="Enter email"
      style="width: 300px; margin-bottom: 1em"
    />

    <label for="password" style="font-weight: 500">Password</label>
    <input
      class="form-control"
      id="password"
      type="password"
      name="password"
      placeholder="Password"
      style="width: 300px; margin-bottom: 1em"
    />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" style="width: 5em">
      Login
    </button>
  </div>
</form>

    <button id="restaurant-owner-btn">Restaurant Owner</button>
    <button id="customer-btn">Customer</button>
   </section>

   <section class = 'create-account'>
    <h3>Create Account</h3>
    <br />
    <form action="/register" method="POST">
      <div class="register-new-user-customer">
        <label for="first_name">First Name:</label>
        <input
          class="form-control"
          id="first_name"
          type="text"
          name="first_name"
          placeholder="Enter first name"
          required
        />

        <label for="last_name">Last Name:</label>
        <input
          class="form-control"
          id="last_name"
          type="text"
          name="last_name"
          placeholder="Enter last name"
          required
          />


        <label for="phone">Phone:</label>
        <input
          class="form-control"
          id="phone"
          type="tel"
          name="phone"
          placeholder="Enter phone number"
          required
          />

          <label for="email">Email Address:</label>
          <input
            class="form-control"
            id="email"
            type="email"
            name="email"
            placeholder="Enter email"
            required
          />

          <label for="password">Password:</label>
          <input
            class="form-control"
            id="password"
            type="password"
            name="password"
            placeholder="Enter password"
            required
          />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Register
        </button>
      </div>
    </form>
  </section>


  <section class = 'add-restaurant'>
    <section class="add-restaurant">
      <h3>Add Restaurant</h3>
      <br />
      <form action="/add-restaurant" method="POST">
        <div class="register-new-restaurant">
          <label for="road">Road:</label>
          <input
            class="form-control"
            id="road"
            type="text"
            name="road"
            placeholder="Enter road"
            required
          />

          <label for="city">City:</label>
          <input
            class="form-control"
            id="city"
            type="text"
            name="city"
            placeholder="Enter city"
            required
          />

          <label for="province">Province:</label>
          <input
            class="form-control"
            id="province"
            type="text"
            name="province"
            placeholder="Enter province"
            required
          />

          <label for="postal_code">Postal Code:</label>
          <input
            class="form-control"
            id="postal_code"
            type="text"
            name="postal_code"
            placeholder="Enter postal code"
            required
          />

          <label for="phone">Phone:</label>
          <input
            class="form-control"
            id="phone"
            type="text"
            name="phone"
            placeholder="Enter phone number"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Restaurant</button>
        </div>
      </form>
  </section>


  <section class = 'add-menu'></section>


<!-- /Restaurant Owner Section -->

<!-- can be generated or unhide with jquery  on user tpe identification  -->

<section id = 'restaurant-user' class = 'hidden-on-load'>

  <!--ORDER SECTION -LIKE SHOW TWEETS SECTION BUT FOR ORDERS NEWEST ORDER COMES FIRST WITH BUTTONS FOR ACCEPT, COMPLETED ESTIMATED TIME AND (STRETCH) A COUNTER FOR KEEPING TRACK OF TIME. COULD BE SETUP LIKE A TO DO LIST, WITH NEW, IN PROGRESS, READY COMPLETED FOR STATUS-->

  <!-- STRETCH ANALYTICS SECTION  -->

  <!-- STRETCH MENU MODIFICATION SECTION -->


</section>
<!-- / -->



<!-- /Customer Section/ -->


<section id = 'customer-user' class = 'hidden-on-load'></section>

<!---------------------------MENU ------------------------------------>

<!-- Menu section either form or submit button with prevent default
  add and delete buttons AND   + - button to set quantity -->


  <div class = 'menu'>
  </div>



  <!---------------------------CART ------------------------------------>
  <div class = 'cart'>
  </div>


  <!---------------------CONFIRMATION and Status --------------------------->

  <div class = 'confirmation'>
  </div>
</section>
<!-- / -->

    </main>






  </body>
</html>
