<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
    />

    <!-------------------------CSS STYLES ------------------------------------>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-------------------------APP SCRIPTS ------------------------------------>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/helpers.js"></script>
  </head>

  <body>
    <header>Include from partials which will include nav</header>


    <main>
      <h1>Welcome <%= user %> 🥔</h1>
       
      <h2>Restaurant Name</h2>

   <!-- LOGIC TO DETERMINE IF USER IS CUSTOMER OR RESTAURANT -->

      <section id = 'restaurant-user' class = 'hidden-on-load'>
      </section>

      <section id = 'customer-user' class = 'hidden-on-load'>
        
        <!---------------------------MENU ------------------------------------>
        <!-- Menu either form or submit button with prevent default
      add and delete buttons could be added with each item with a counter like tweeter -->
        <div class = menu> 
        </div>



        <!---------------------------CART ------------------------------------>
  <div class = cart>
  </div>

  
  <!---------------------CONFIRMATION and Status --------------------------->
   <div class = 'confirmation'>
  </div>
      </section>

    </main>

  



 
  </body>
</html>
