<div class="status-container">
  <h2 class="order-number">
    Hi $(name), Your order number is ${orderNumber}
  </h2>
  <table class="status-table">
    <thead>
      <tr class="status-table-name">
        <th>Order ID</th>
        <th>Order Status</th>
        <th>Estimated Time</th>
      </tr>
    </thead>
    <tbody>
      <tr class="status-table-content">
        <td>1</td>
        <td>100</td>
        <td>2023-07-04 15:30:00</td>
      </tr>
    </tbody>
  </table>
</div>
</section>
</main>
