
$hero-background-image: 'https://images.pexels.com/photos/6977372/pexels-photo-6977372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2';

// $hero-background-image: 'https://images.pexels.com/photos/5638730/pexels-photo-5638730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';

//COLOURS
// $color-primary: #220901;
// $color-secondary: #621708;
// $color-accent: #941B0C;
// $color-highlight: #BC3908;
// $color-neutral: #F6AA1C;

$color-primary: #220901;
$color-secondary: white;
$color-accent: #941B0C;
$color-highlight: #BC3908;
$color-neutral: #F6AA1C;
$color-card-background: rgba(246, 170, 28, 0.769);

//FONTS

// $font-family-primary: 'Montserrat', sans-serif;
// $font-family-primary: 'Caprasimo', cursive;
$font-family-primary: 'Crimson Text', serif;
$font-family-secondary: 'Source Sans 3', sans-serif;
$font-family-logo: 'Pacifico', cursive;
$font-family-login: 'Crimson Text', serif;


