
$hero-background-image: 'bla://unsplash.com/photos/nA6Xhnq2Od8';

//COLOURS
$color-primary: #220901;
$color-secondary: #621708;
$color-accent: #941B0C;
$color-highlight: #BC3908;
$color-neutral: #F6AA1C;