@import 'variables';

#user-authentication {
display: none;
  color: $color-secondary;
  padding: 20px;
  margin: 0.25vw ;
}

form {
  width:60%;
  padding: 1em 0;
}
.login-form {
  display: flex;
  background-color: rgba(246, 170, 28, 0.769);
  color: $color-secondary;
  padding: 20px;
  
  border-radius: 2em;
  justify-content: center;
  align-items: center;
}

.login-form .form-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.login-form label {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: bold;
  color: $color-secondary;
  width: 100px;
  margin-right: 10px; /* Adjust the margin as needed */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 80%;
  margin:auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  
  font-family: $font-family-secondary;
}
.login-form input[type="submit"] {
  // background-color: $color-accent;
  color: $color-neutral;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  border-color: $color-highlight;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: auto;
 
}

.login-form input[type="submit"]:hover {
  background-color: $color-neutral;
  color: $color-highlight;
  padding-top: 0.5em;
}

.login-form .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: $color-secondary;
  font-size: 20px;
  cursor: pointer;
}

.login-form .close-button:hover {
  color: $color-highlight;
}