@import 'variables';

.card-hov-shadow:hover {

  box-shadow: 0px 0px 12px darkgrey;
}

.menu-container {

  display: flex;
  flex-direction : column;
  justify-content: space-between;
  background-color: white;
  font-size: large;
  width: 50vw;
  
}