

@import 'variables';
header {
  background-color: $color-secondary;
  color: $color-neutral;
  padding: 0.625rem;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      img {
        width: 40px;
        height: 40px;
        margin-right: 0.5rem;
      }

      span {
        font-family: $font-family-primary;
        font-size: 1.2rem;
      }
    }
  }
}