@import 'variables';

header {
  background-color: $color-secondary;
  color: $color-neutral;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 0.5em #621708 solid;

  .custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      display: flex;
      align-items: center;
      text-decoration: none;

      .logo-text {
        font-family: $font-family-logo;
        font-size: 2.5em;
        padding-left: 0.3em;
      }
    }

    .nav-links {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;

        .nav-link {
          text-decoration: none;
          color: $color-neutral;
          transition: color 0.3s ease;
          border-radius: 7em;
          font-size:1.5em;
          padding-right: 1em;

          &:hover {
            color: $color-highlight;
          }
        }
      }
    }

  }}