nav {
  background-color: slategray;
  padding: 1em 1em;
  width: 100vw;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: sticky;
  flex-wrap: wrap;
}

.logo {
  display: inline-block;
  margin-right: 20px;
  color: #ccc;
  padding-left: 2em;
  font-family: cursive;
}

.logo-text {
  font-weight: bold;
  font-size: 1.4em;
}

.nav-links li {
  padding-top: 10px;
  display: inline-block;
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.nav-links li a:hover {
  background-color: #e0e0e0;
  color: #555;
}
